
.placeholder {
    visibility: collapse;
    display: none;
}

.placeholder:only-child {
    visibility: visible;
    display: flex;
}

.card-img-top {
    content: "No Image"
}

.no-close .ui-dialog-titlebar-close {
    display: none
}