@model Accounts

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
    TempData["ControllerState"] = "Account";
    TempData["ViewState"] = "Register";
}

<br /><br />
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form name="RegisterForm" asp-action="Register">
                <h1>Register</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phonenumber" class="control-label">Phone Number</label>
                    <input asp-for="Phonenumber" class="form-control" id="Phonenumber" />
                    <span asp-validation-for="Phonenumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Firstname" class="control-label">First Name</label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname" class="control-label">Last Name</label>
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dateofbirth" class="control-label">Date Of Birth</label>
                    <input type="date" asp-for="Dateofbirth" class="form-control" id="Dateofbirth" />
                    <span asp-validation-for="Dateofbirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="CheckTerms" />
                    <a class="control-label" asp-controller="Home" asp-action="TermsAndUse">Please check Terms and Conditions </a>
                    <br /><br />
                    <span asp-validation-for="CheckTerms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-default btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#Phonenumber").inputmask({ "mask": "(999) 999 - 9999" });
                //$("#Dateofbirth").inputmask({ "mask": "9999-99-99 99-99" });
</script>
