
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<a href="#" id="scanbook">Scan ISBN</a>
<div id="dialog" title="Scanner">
    <div id="my_camera"></div>
    <br />
    <form>
        <input type="button" class="btn btn-success" value="Take Snapshot" onClick="take_snapshot()">
    </form>
    <div id="results">Your captured image will appear here...</div>
</div>
<script src="~/js/webcamsettings.js"></script>
