
@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
    TempData["ControllerState"] = "Home";
    TempData["ViewState"] = "Contact";
}

<br />
<br />
<div class="container shadow-sm p-3 mb-5 bg-white rounded">

</div>
<br />
<br />