
@{
    ViewData["Title"] = "Feedback";
    Layout = "_Layout";
}

<br />
<br />
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <br />
    <h2 class="h1-responsive font-weight-bold text-center my-4">Thank You for your feedback!</h2>
    <br />
</div>