@model List<Books>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    TempData["ControllerState"] = "Home";
    TempData["ViewState"] = "Index";
}
<style>
    a {
        color: white;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <div class="library">
            <div class="book" id="book">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="book" id="book">
                <a asp-area="" asp-controller="Books" asp-action="Index">Books</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="book" id="book">
                    <form name="signoutForm" asp-controller="Account" asp-action="Logout">
                        <a class="pt-2" href="#" onclick="document.signoutForm.submit(); return false;">Sign Out</a>
                    </form>
                </div>
            }
            else
            {
                <div class="book" id="book">
                    <a asp-controller="Account" asp-action="Register">New User</a>
                </div>
            }
            <div class="shelf justify-content-center text-center"></div>
        </div>
    </div>
    <div>
        @await Html.PartialAsync("_homePageBookView", Model)
    </div>
    <div class="jumbotron">
        <img src="~/img/library_3.jpg" alt="libraryImage" class="img-fluid" />
    </div>
</div>